<?xml version="1.0" encoding="ISO-8859-1"?>
<html>
 
<body>
<h3> Program to collect the customer-information </h3>
<form action ="Display.php" method="get">
<table border="10">
<tr>
<td> Enter Name:</td>
<td> <input type="text" name="name"> </td>
</tr>
<tr>
<td> Enter Post_type: </td>
<td> <input type="text" name="post_type"></td>
</tr>
<tr>
<td> Enter Description: </td>
<td> <input type="text" name="description"> </td>
</tr>
<tr>
<td> Enter ratings: </td>
<td> <input type="text" name="ratings"> </td>
</tr>
<tr>
<td> </td> </tr>
<tr> </tr>
<tr>
<td> <input type="submit" value="Submit"></td>
 
<td> <input type="Reset" value="Reset"></td>
</tr>
</br>
</td>
</table>
</form>
 
</body>
 
</html>